<div class="container">
    <h1 class="col-md-6">Track</h1>
    <div class="row"></div>
    <div class="col-md-3">
        <div class="form-group">
            <div class='input-group date dateTimes' data-bind="datepicker: startDate">
                <input type="text" class="form-control"/> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <label data-bind="text: moment(startDate()).format('dddd, MMMM DD YYYY')"></label>
            <div class='input-group date dateTimes' data-bind="datepicker: endDate">
                <input type="text" class="form-control" /> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <label data-bind="text: moment(endDate()).format('dddd, MMMM DD YYYY')"></label>
        </div>
    </div>
    <div class="col-md-9">
        <table>
            <thead>
                <tr>
                    <th class="col-md-2">Project</th>
                    <th class="col-md-5">Task</th>
                    <th class="col-md-3">User</th>
                    <th class="col-md-2">Hours</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: activities">
                <tr>
                    <td class="col-md-2" data-bind="text: ProjectName"></td>
                    <td class="col-md-5" data-bind="text: TaskName"></td>
                    <td class="col-md-3" data-bind="text: UserFullName"></td>
                    <td class="col-md-2" data-bind="text: Hours"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>