<div class="container">
    <div class="col-sm-12 col-md-4">
        <div>
            <div class="col-sm-3 col-md-3">
                <button data-bind="click: goPreviousDay" id="previousDay" class="btn btn-info"><span class="glyphicon glyphicon-chevron-left "></span></button>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class='input-group date dateTimes' data-bind="datepicker: filterDate">
                    <input type="text" class="form-control filterDatePicker" /> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                </div>
            </div>
            <div class="col-sm-3 col-md-3">
                <button data-bind="click: goNextDay" id="nextDay" class="btn btn-info"><span class="glyphicon glyphicon-chevron-right glyphicon glyphicon-large"></span></button>
            </div>
        </div>
        <div class="row"></div>
        <div class="dateFilter">
            <label data-bind="text: filterDateText"></label>
        </div>
        <div class="row"></div>
        <div class="col-sm-12 col-md-4 col-centered">
            <button data-bind="click: doShowRecordActivity" id="addActivity" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus glyphicon glyphicon-large"></span><br>Add</button>
        </div>
    </div>
    <div class="col-sm-12 col-md-8">
        <table class="table table-hover table-condensed table-responsive">
            <thead>
                <tr>
                    <th class="col-md-2">Project</th>
                    <th class="col-md-6">Task</th>
                    <th class="col-md-1">Hours</th>
                    <th class="col-md-3"></th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td class="bold">Total</td>
                    <td class="bold" data-bind="text: workLogTotalHours"></td>
                </tr>
            </tfoot>
            <tbody data-bind="foreach: activities">
                <tr>
                    <td data-bind="text: ProjectName"></td>
                    <td data-bind="text: TaskName"></td>
                    <td data-bind="text: Hours"></td>
                    <td>
                        <button data-bind="click: $parent.doShowDescription" id="showActivityDescription" type="button" class="btn btn-default" title="Show details">
                            <span class="glyphicon glyphicon-question-sign"></span>
                        </button>
                        <button data-bind="click: $parent.doEditWorkLog" id="editWorkLog" type="button" class="btn btn-default" title="Edit worklog">
                            <span class="glyphicon glyphicon-edit"></span>
                        </button>
                        <button data-bind="click: $parent.doRemoveWorkLog" id="removeWorkLog" type="button" class="btn btn-default" title="Delete worklog">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div id="recordActivityPopup" data-bind="dialog: { width: 500, modal: true, autoOpen: false, title: 'Log work for ' }, dialogVisible: showEditor, onEnter: doRecordActivity">
        <div class="form-group">
            <div data-bind="text: filterDateText"></div>
            <div class="col-sm-12 col-md-12">
                <label for="project">Project:</label>
                <div>
                    <input type="text" id="project" data-bind="autoComplete: Project, getUrl: 'api/Project/Search', insertUrl: 'api/Project/Create', canInsert: currentUser() && currentUser().IsAdmin" class="col-md-12" />
                    <span data-bind="validationElement: Project">
                        <input class="hidden" type="text" data-bind="value: Project" />
                    </span>
                </div>
            </div>
            <!-- ko with : Project -->
            <div class="col-sm-12 col-md-12">
                <label for="task">Task:</label>
                <div>
                    <input type="text" id="task" data-bind="autoComplete: $parent.Task, getUrl: 'api/Task/Search?ProjectId=' + Id, insertUrl: 'api/Task/Create?ProjectId=' + Id, canInsert: true" class="col-md-12" />
                    <span data-bind="validationElement: $parent.Task">
                        <input class="hidden" type="text" data-bind="value: $parent.Task" />
                    </span>
                </div>
            </div>
            <!-- /ko  -->
            <div class="col-sm-12 col-md-12">
                <label for="hours">Hours:</label>
                <input id="hours" max="8" min="1" type="number" class="form-control" data-bind="value: Hours">
            </div>
            <div class="col-sm-12 col-md-12">
                <label for="decription">Description:</label>
                <textarea id="description" type="number" class="form-control" data-bind="value: Description"></textarea>
            </div>
            <div class="col-sm-2 col-md-2">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-default" data-bind="click:doRecordActivity">Record</button>
            </div>
        </div>
    </div>
    <div id="activityDescriptionPopup" data-bind="dialog: { width: 500, modal: true, autoOpen: false, title: 'Description' }, dialogVisible: showDescriptionDialog, onEnter: doCloseActivityDescription">
        <div class="form-group">
            <pre data-bind="text: activityDescription"></pre>
            <div class="col-sm-2 col-md-2">
                <label>&nbsp;</label>
                <button type="button" class="btn btn-default" data-bind="click:doCloseActivityDescription">Close</button>
            </div>
        </div>
    </div>
</div>