<div class="container">
    <h1 class="col-md-6">TRACK</h1>
    <div class="row"></div>
    <div class="col-md-3">
        <div class="form-group">
            <div class='input-group date dateTimes' data-bind="datepicker: filterDate">
                <input type="text" class="form-control"/> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
            <label data-bind="text: moment(filterDate()).format('dddd, MMMM DD YYYY')"></label>
        </div>
        <div class="col-md-4">
            <button data-bind="click: doAddActivity" id="addActivity" class="btn btn-block btn-primary"><span class="glyphicon glyphicon-plus glyphicon glyphicon-large"></span><br>Add</button>
        </div>
    </div>
    <div class="col-md-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-3">Project</th>
                    <th class="col-md-2">Task</th>
                    <th class="col-md-2">Hours</th>
                </tr>
            </thead>
            <tbody data-bind="foreach: activities">
                <tr>
                    <td data-bind="value: Project.Name"></td>
                    <td data-bind="text: Task.Name"></td>
                    <td data-bind="value: Hours"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</div>