<div>
    <h1>WHAT WAS DONE THIS DAY</h1>
    <br/>
    <div class="col-md-4">
        <div class="form-group">
            <label class="control-label">Quote Date</label>
            <div class='input-group date dateTimes'>
                <input type="text" class="form-control" data-bind="datepicker: filterDate, " /> <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
            </div>
        </div>
    </div>

    <label data-bind="text: filterDate"></label>
    <br />
    <table>
        <thead>
        </thead>
        <tbody data-bind="foreach: activities">
            <tr>
                <td data-bind="value: Project.Name"></td>
                <td data-bind="text: Task.Name"></td>
                <td data-bind="value: Hours"></td>
            </tr>
        </tbody>
    </table>
    <br />
    <button data-bind="click: doAddActivity">+</button>
</div>