<footer class="panel-footer footer">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-2 col-xs-2 ng-binding">
                © daily.Status 2017-2020
            </div>
            <div class="col-md-1 col-sm-1 col-xs-1">
                <i class="fa fa-twitter "></i>&nbsp;
                <a href="https://twitter.com/gciochina" target="_blank" class="social">twitter</a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-4">
                <i class="fa fa-facebook-square"></i>&nbsp;
                <a href="https://www.facebook.com/zero.bugz" target="_blank" class="social">facebook</a>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-3 text-right">
                <a href="https://ko-fi.com/gciochina">Buy me a beer!</a>
            </div>
            <div data-bind="visible: currentUser" class="col-md-2 col-sm-2 col-xs-2 text-left ng-hide">
                <a href="mailto:gciochina@gmail.com">Contact me!</a>
            </div>
        </div>
    </div>
</footer>