<div class="container">
    <div class="col-sm-2 col-md-4">
    </div>
    <div class="col-sm-8 col-md-4">
        <form>
            <div class="form-group">
                <label for="userName">UserName:</label>
                <input type="text" class="form-control" id="userName" data-bind="value: userName">
            </div>
            <div class="form-group">
                <label for="passWord">Password:</label>
                <input type="password" class="form-control" id="passWord" data-bind="value: password">
            </div>
            <div class="checkbox">
                <label><input type="checkbox" data-bind="value: rememberMe"> Remember me</label>
            </div>
            <button type="button" class="btn btn-default" data-bind="click:doLogin">Login</button> &nbsp;
            <button type="button" class="btn btn-default" data-bind="click:doSignup">Sign Up</button>
        </form>
    </div>
    <div class="col-sm-2 col-md-4">
    </div>
</div>