<div class="container">
    <div class="col-md-6">
        <h1>Team members</h1>
    </div>
    <div class="col-md-6">
        <button id="peopleInvite" class="btn btn-warning col-md-offset-8" data-bind="click: doShowInvitePeople"><i class="glyphicon glyphicon-plus"></i>&nbsp;Invite</button>
    </div>
    <table class="table table-hover table-condensed table-responsive">
        <thead>
            <tr>
                <th class="col-md-4">Name</th>
                <th class="col-md-3">Email</th>
                <th class="col-md-1">Administrator</th>
                <th class="col-md-1">Active</th>
                <th class="col-md-3">Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: people">
            <tr id="peopleEdit" class="item table-row-clickable">
                <td class="table-cell-title" data-bind="text: FullName"></td>
                <td class="table-cell-title" data-bind="text: EmailAddress"></td>
                <td data-bind="text: IsAdmin"></td>
                <td data-bind="text: IsActivated"></td>
                <td>
                    <button data-bind="visible: IsActivated, click: $parent.doDeactivatePeople" id="closePeople" type="button" class="btn btn-default" title="Deactivate account">
                        <span class="glyphicon glyphicon-stop"></span>
                    </button>
                    <button data-bind="click: $parent.deletePeople" id="deletePeople" type="button" class="btn btn-default" title="Delete account">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <div data-bind="visible: !IsActivated">
                        <button data-bind="click: $parent.doActivatePeople" id="closePeople" type="button" class="btn btn-default" title="Activate account">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="invitePeoplePopup" data-bind="dialog: {width: 500, modal: true, autoOpen: false, title: 'Invite member to team' }, dialogVisible: showAddDialog">
        <div class="form-group">
            <label for="firstName">First name:</label>
            <input type="text" class="form-control" id="firstName" data-bind="value: FirstName, onEnter: doInvitePeople">
            <br />
            <label for="lastName">Last name:</label>
            <input type="text" class="form-control" id="lastName" data-bind="value: LastName, onEnter: doInvitePeople">
            <br />
            <label for="emailAddress">Email address:</label>
            <input type="text" class="form-control" id="emailAddress" data-bind="value: EmailAddress, onEnter: doInvitePeople">
        </div>
        <button type="button" class="btn btn-default" data-bind="click:doInvitePeople">Invite</button>
    </div>
</div>