<div class="container">
    <div class="col-md-6">
        <h1>Projects</h1>
    </div>
    <div class="col-md-6">
        <a id="projectCreate" href="#" class="btn btn-primary col-md-offset-8" data-bind="click: doShowAddProject"><i class="glyphicon glyphicon-plus"></i><br/>Create</a>
    </div>
    <table class="table table-hover table-condensed table-responsive" >
        <thead>
            <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-2">Created</th>
                <th class="col-md-2">Active</th>
                <th class="col-md-2">Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: projects">
            <tr id="projectEdit" class="item table-row-clickable">
                <td class="table-cell-title" data-bind="text: Name"></td>
                <td data-bind="text: moment(CreatedOn).format('dddd, MMMM DD YYYY')"></td>
                <td data-bind="text: IsActive"></td>
                <td>
                    <div data-bind="visible: IsActive">
                        <button data-bind="click: $parent.doDeactivateProject" id="closeProject" type="button" class="btn btn-default" title="Deactivate project" >
                            <span class="glyphicon glyphicon-stop"></span>
                        </button>
                        <button data-bind="click: $parent.deleteProject" id="deleteProject" type="button" class="btn btn-default" title="Delete project">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    </div>
                    <div data-bind="visible: !IsActive">
                        <button data-bind="click: $parent.doActivateProject" id="closeProject" type="button" class="btn btn-default" title="Activate project">
                            <span class="glyphicon glyphicon-play"></span>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="addProjectPopup" data-bind="dialog: {width: 500, modal: true, autoOpen: false, title: 'Add project' }, dialogVisible: showAddDialog, onEnter: doAddProject">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" data-bind="value: Name">
        </div>
        <button type="button" class="btn btn-default" data-bind="click:doAddProject">Create</button>
    </div>
</div>