<ul id="results" class="panel-body moviesList">
    <!-- ko foreach: movies -->
    <li class="col-xs-2 col-md-2 poster" data-bind="click:$parent.doDetails">
        <div class="panel-body">
            <table>
                <tr>
                    <td>
                        <div class="col-md-4 col-sm-8">
                            <!-- ko if: Poster != 'N/A' -->
                            <img class="posterImage" data-bind="attr: {src: Poster}">
                            <!-- /ko -->
                            <!-- ko if: Poster == 'N/A' -->
                            <img class="posterImage" data-bind="attr: {src: '\\_spa\\images\\no_image_available_large.gif'}">
                            <!-- /ko -->
                        </div>

                        <div class="col-md-8 col-sm-8" style="vertical-align: top;">
                            <div style="padding-left: 5px">
                                <div data-bind="text:Title" class="text"></div>
                                <div data-bind="text: Year" class="text"></div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </li>
    <!-- /ko -->
</ul>