<div class="container">
    <div class="col-md-6">
        <h1>Tasks</h1>
    </div>
    <div class="col-md-6">
        <a id="taskCreate" href="#" class="btn btn-primary col-md-offset-8" data-bind="click: doShowAddTask"><i class="glyphicon glyphicon-plus"></i><br />Create</a>
    </div>
    <table class="table table-hover table-condensed table-responsive" >
        <thead>
            <tr>
                <th class="col-md-3">Name</th>
                <th class="col-md-2">Project</th>
                <th class="col-md-2">Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: tasks">
            <tr id="taskEdit" class="item table-row-clickable">
                <td class="table-cell-title" data-bind="text: Name"></td>
                <td class="table-cell-title" data-bind="text: ProjectName"></td>
                <td>
                    <button data-bind="click: $parent.doDeleteTask" id="deleteTask" type="button" class="btn btn-default" title="Delete task">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div id="addTaskPopup" data-bind="dialog: {width: 500, modal: true, autoOpen: false, title: 'Add task' }, dialogVisible: showAddDialog, onEnter: doAddTask">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" data-bind="value: Name">
            <br/>
            <label for="project">Project:</label>
            <select class="form-control" id="project" data-bind="options: projects, optionsText: 'Name', value: Project"></select>
        </div>
        <button type="button" class="btn btn-default" data-bind="click:doAddTask">Create</button>
    </div>
</div>