<h1>Daily.Hours</h1>
<div data-bind="visible: currentUser">
    <ul class="nav navbar-nav">
        <li class="navbar-link" data-bind="click:doTrack">TRACK</li>
        <li class="navbar-link" data-bind="click:doActivity">ACTIVITY</li>
        <li class="dropdown-toggle">MANAGE
            <ul class="navbar-collapse">
                <li class="navbar-link" data-bind="click:doProject">Projects</li>
                <li class="navbar-link" data-bind="click:doTask">Tasks</li>
                <li class="navbar-link" data-bind="click:doPeople">People</li>
            </ul>
        </li>
    </ul>
    <label id="profile" data-bind="text: 'user().FirstName() + user().LastName()', click: doProfile" class="btn btn-sm btn-info" />
    <button id="signOut" data-bind="click:doSignOut" class="btn btn-sm btn-info">SignOut</button>
</div>