<div class="container">
    <h1>Daily.Hours</h1>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="firstName">First Name:</label>
            <input type="text" class="form-control" id="firstName" data-bind="value: firstName">
        </div>
        <div class="form-group">
            <label for="lastName">Last Name:</label>
            <input type="text" class="form-control" id="lastName" data-bind="value: lastName">
        </div>
        <div class="form-group">
            <label for="userName">UserName:</label>
            <input type="text" class="form-control" id="userName" data-bind="value: userName">
        </div>
        <div class="form-group">
            <label for="passWord">Password:</label>
            <input type="password" class="form-control" id="passWord" data-bind="value: password">
        </div>
        <div class="form-group">
            <label for="emailAddress">Email:</label>
            <input type="text" class="form-control" id="emailAddress" data-bind="value: emailAddress">
        </div>
        <button type="button" class="btn btn-default" data-bind="click:doRegisterUser">Login</button>
    </form>
</div>