.posterImage {
    height: 100px;
    width: 75px;
}

.moviesList {
    list-style: none;
}

.poster {
    cursor: pointer;
    min-width: 300px
}
.panel-heading {
    min-height: 50px;
}

.poster:hover {
    background-color: lightblue;
}

.text {
    font-size: 12px;
}