@model Daily.Hours.Web.Models.User
<html>
<head>
    <title>daily.Hours v@(typeof(Daily.Hours.Web.Controllers.HomeController).Assembly.GetName().Version)</title>
    <link rel="stylesheet" type="text/css" href="~/_spa/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/_spa/lib/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/_spa/lib/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" type="text/css" href="~/_spa/lib/toastr/toastr.min.css" />
    <link rel="stylesheet" type="text/css" href="~/_spa/css/themes/jquery-ui.css"/>
    <link rel="stylesheet" type="text/css" href="~/_spa/css/site.css">
    <script type="text/javascript" src="~/_spa/lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="~/_spa/lib/jquery-ui/jquery-ui.js"></script>
    <script type="text/javascript" src="~/_spa/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/_spa/lib/moment/min/moment.min.js"></script>
    <script type="text/javascript" src="~/_spa/lib/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/_spa/lib/knockout/dist/knockout.js"></script>
    <script type="text/javascript" src="~/_spa/lib/Knockout-Validation/dist/knockout.validation.min.js"></script>
    <script type="text/javascript" src="~/_spa/lib/toastr/toastr.js"></script>
    <script type="text/javascript" src="~/_spa/lib/underscore/underscore.min.js"></script>

    <script type="text/javascript" data-main="_spa/scripts/init" src="_spa/lib/requirejs-plugins/lib/require.js"></script>
    <script type="text/javascript" src="~/_spa/scripts/ko.validation.rules.js"></script>
    <script type="text/javascript" src="~/_spa/scripts/ko.bindingHandlers.js"></script>
    <script type="text/javascript">
        window.appVersion = 'v@(typeof(Daily.Hours.Web.Controllers.HomeController).Assembly.GetName().Version)';
        window.appName = '@(ViewBag.ApplicationName)';
    </script>
</head>
<body>
    <section data-bind="component: { name: 'mainView', params: {currentUser: currentUser, navModel: navModel} }"></section>
</body>
</html>